.promo__wrapper {
  background-color: #272727;
  max-width: 1200px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 20px auto 0;
  padding: 160px 0 161px;
}

.promo__about {
  max-width: 730px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  /* or 116% */
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 0 auto;
  background-color: #272727;
}

@media screen and (max-width: 810px) {
  .promo__wrapper {
    max-width: 728px;
    padding: 350px 0 314px;
  }
  .promo__about {
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 600px) {
  .promo__wrapper {
    margin: 0 auto;
    padding: 220px 0 212px;
  }
  .promo__about {
    font-size: 29px;
    line-height: 37px;
    padding: 0 5px;
  }
}
