.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__header-static {
  display: flex;
  padding: 16.5px 30px;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.header__nav {
  margin: auto 0;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.header__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  margin-right: 30px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
}

.button:hover {
  outline: none;
  border: none;
}

.button:focus {
  outline: none;
  border: none;
}

.button:active {
  outline: none;
  border: none;
}

.header__button {
  width: 70px;
  height: 32px;
  padding: 8px 20px;
  background: #3DDC84;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  transition: all 0.2s ease;
}

.header__button:hover {
  background: #2fb46b;
  transition: all 0.2s ease;
  font-size: 12.5px;
}

.header__movies {
  margin: 0 0 auto 0;
  display: flex;
  align-items: flex-end;
}

/* Movies */

.header__button-profile {
  margin-left: 50px;
  border: none;
  width: 100px;
  height: 30px;
  padding: 0;
  background-color: #202020;
  display: flex;
  border-radius: 6px;
  transition: all 0.4s ease, scale 0.1s ease;
}

.header__button-profile:hover {
  cursor: pointer;
}

.header__button-profile:hover .header__button-profile-text {
  text-decoration: underline;
}

.header__button-profile:hover .header__button-profile-wrapper {
  background-color: #494949;
  transition: all 0.2s ease;
}

.header__button-profile:focus {
  outline: none;
}

.header__button-profile:active {
  border: 1px solid rgb(61, 61, 61);
}

.header__button-profile-wrapper {
  width: 26px;
  height: 30px;
  background-color: #313131;
  border-radius: 4px;
  transition: all 0.2s ease;
}

/* .header__button-profile-wrapper:hover */

.header__button-profile-text {
  text-align: left;
  height: 30px;
  margin: auto auto auto 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.header__link_mobile {
  display: none;
}

.header__button-profile-img {
  width: 11.5px;
  height: 14px;
  margin: 8px 7.5px;
}

.header__nav_movies {
  margin-left: auto;
  margin-right: 0;
}

.header__link-movies {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  text-align: right;
  color: #FFFFFF;
  margin-right: 20px;
}

.header__link-saved {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  text-align: right;
  color: #FFFFFF;
}

.menu-burger__header {
  display: none;
}

.header__button-cross {
  display: none;
}

.link_movies {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.link_movies:hover {
  text-decoration: underline;
  outline: none;
}

@media screen and (max-width: 810px) {
  .wrapper {
    padding: 0;
    max-height: 74px;
  }
}

@media screen and (max-width: 769px) {
  .overflow {
    overflow: hidden;
    position: relative;
    z-index: 99;
  }
  .header__menu {
    overflow: hidden;
  }
  .menu-burger__header {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    margin: auto 0 auto auto;
  }
  .menu-burger__header:hover {
    cursor: pointer;
  }
  .menu-burger__header span {
    position: absolute;
    background-color: #fff;
    right: 8px;
    width: 28px;
    height: 3px;
    top: 20px;
  }
  .menu-burger__header:after, .menu-burger__header:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 28px;
    height: 3px;
    right: 8px;
  }
  .menu-burger__header:after {
    bottom: 11px;
  }
  .menu-burger__header:before {
    top: 11px;
  }
  .menu-burger__bcg {
    position: fixed;
    width: calc(100vw - ( 520 / 768 * 100vw));
    height: 100%;
    right: calc(520 / 768 * 100vw);
    top: 0;
    z-index: 4;
    background-color: #000000;
    opacity: 0.3;
    overflow: hidden;
    transition: all .4s linear;
  }
  .header__movies {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(520 / 768 * 100vw);
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #202020;
    z-index: 2;
    overflow: hidden;
    /* padding-top: 159px; */
    padding-top: calc(100vh * 159/1024);
    padding-bottom: calc(100vh * 92/1024);
    transition: all .4s linear;
  }
  .link_movies:hover {
    text-decoration: none;
  }
  .header__button-profile {
    display: flex;
    margin: auto auto 0 auto;
  }
  .header__nav_movies {
    display: block;
    margin: 0 auto;
  }
  .header__list_movies {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .header__list_movies:hover {
    text-decoration: none;
  }
  .link_movies {
    display: block;
    margin: 0 auto 28px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__link-saved {
    margin-bottom: 0;
  }
  .header__link-movies {
    border-bottom: 2px solid #fff;
  }
  .header__button-cross {
    display: block;
    position: fixed;
    top: 22px;
    right: 22px;
    z-index: 4;
    width: 29.16px;
    height: 29.16px;
    background: none;
    border: none;
    transition: all .4s linear;
  }
  .header__button-cross:focus {
    outline: none;
  }
  .header__button-cross-line:before, .header__button-cross-line:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 22px;
    height: 3px;
    top: calc(29.16px/2);
    right: 4px;
  }
  .header__button-cross-line:before {
    transform: rotate(45deg);
  }
  .header__button-cross-line:after {
    transform: rotate(135deg);
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-height: 74px;
  }
  .header__header-static {
    padding: 14px 18px;
  }
  .header__link {
    margin-right: 14px;
  }
}

@media screen and (max-width: 350px) {
  .header__item {
    max-width: 300px;
  }
  .header__nav-movies {
    width: 90vw;
  }
  .header__link-movies {
    padding-bottom: 7px;
  }
  .menu-burger__bcg {
    display: none;
  }
  .header__movies {
    width: 100vw;
  }
}

.hidden {
  right: -100vw;
  transition: all .4s linear;
}

.header__hidden {
  display: none;
}
