.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__header-static {
  display: flex;
  padding: 18px 30px;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.header__nav {
  margin: auto 0;
}

.header__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  margin-right: 30px;
  text-decoration: none;
}

.header__button {
  padding: 8px 20px;
  border: none;
  background: #3DDC84;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}

@media screen and (max-width: 810px) {
  .wrapper {
    padding: 0;
    max-height: 74px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-height: 74px;
  }
  .header__header-static {
    padding: 14px 18px;
  }
  .header__link {
    margin-right: 14px;
  }
}
