.navtab__wrapper {
  background-color: #272727;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin: 0 auto;
  padding-bottom: 30px;
}

.navtab__about-navbar {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.navtab__about-navbar-item {
  margin-right: 10px;
  width: 96px;
  height: 36px;
  background-color: #303030;
  border-radius: 10px;
}

.navtab__about-navbar-item:last-child {
  margin-right: 0;
}

.navtab__about-item-link {
  text-decoration: none;
}

.navtab__about-item-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: none;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  background-color: #303030;
  transition: background-color 0.4s ease, scale 0.1s ease;
}

.navtab__about-item-button:hover {
  background-color: #535353;
  cursor: pointer;
}

.navtab__about-item-button:focus {
  outline: none;
}

.navtab__about-item-button:active {
  background-color: #868585;
  transform: scale(1.3);
}

@media screen and (max-width: 810px) {
  .navtab__wrapper {
    max-width: 728px;
  }
}

@media screen and (max-width: 600px) {
  .navtab__wrapper {
    padding: 0 17px 17px;
  }
  .navtab__about-navbar-item {
    width: 82px;
    height: 26px;
  }
  .navtab__about-item-button {
    font-size: 10px;
    line-height: 16px;
    margin: 5px auto;
  }
}
