.about-project__wrapper {
  margin: 0 auto;
  padding: 102px 70px;
  background-color: #202020;
  max-width: 1280px;
}

.about-project__tittle {
  margin: 0 auto 70px 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.about-project__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.about-project__container {
  max-width: 550px;
  margin-right: 24px;
}

.about-project__container:last-child {
  margin-right: 0;
}

.about-project__container-title {
  margin: 0 auto 26px 0;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.about-project__container-subtitle {
  margin: 0 auto 110px 0;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  color: #FFFFFF;
  max-width: 450px;
}

.about-project__progress {
  display: flex;
  justify-content: space-between;
}

.about-project__progress-back {
  max-width: 228px;
  padding: 9px 0;
  background-color: #3DDC84;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 0 0 14px;
  flex-grow: 1;
}

.about-project__progress-lines {
  margin: 0 auto;
  padding: 9px 0;
}

.about-project__progress_back {
  max-width: 228px;
  background-color: #3DDC84;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  flex-grow: 1;
}

.about-project__progress_front {
  max-width: 912px;
  background-color: #303030;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  flex-grow: 3;
}

.about-project__progress_subtitle {
  background-color: #202020;
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height, or 121% */
  text-align: center;
  color: #8B8B8B;
  padding-bottom: 0;
}

@media screen and (max-width: 810px) {
  .about-project__wrapper {
    padding: 90px 50px;
  }
  .about-project__container-subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 93px;
    max-width: 319px;
  }
  .about-project__container-title {
    margin: 0 auto 22px 0;
  }
  .about-project__progress_back {
    max-width: 140px;
  }
}

@media screen and (max-width: 600px) {
  .about-project__wrapper {
    padding: 70px 18px;
  }
  .about-project__tittle {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 27px;
    margin-bottom: 60px;
  }
  .about-project__content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    align-items: center;
  }
  .about-project__container {
    margin: 0 auto 56px;
    align-items: center;
    max-width: 284px;
  }
  .about-project__container:last-child {
    margin: 0 auto 60px;
  }
  .about-project__container-subtitle {
    margin-bottom: 0;
  }
  .about-project__progress-lines {
    font-size: 11px;
    line-height: 13px;
  }
}
