.main__about-wrapper {
  /* max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 40px; */
  max-width: 1280px;
  min-width: 292px;
  margin: 0 auto;
}

.main-about__promo {
  width: calc(728/768*100vw);
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width:600px) {
  .main-about__promo {
    width: calc(292/320*100vw);
    margin: 0 auto;
  }
}
