.techs__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: #272727;
}

.tech__content {
  max-width: 1280px;
  padding: 0 40px
}

.techs__tittle {
  max-width: 1140px;
  margin: 0 auto 70px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.techs__subtitle {
  max-width: 600px;
  margin: 0 auto 26px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  /* identical to box height, or 116% */
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.techs__subtitle-text {
  max-width: 460px;
  margin: 0 auto 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.techs__navbar-list {
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  max-width: 800px;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
}

.techs__navbar-navbar-item {
  border-radius: 10px;
  overflow: hidden;
  width: 90px;
  height: 60px;
}

.techs__button {
  width: 90px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  background-color: #303030;
  border: none;
}

@media screen and (max-width: 810px) {
  .techs__wrapper {
    padding: 90px 0;
  }
  .techs__navbar-navbar-item {
    width: 84px;
    height: 57px;
  }
  .techs__button {
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 600px) {
  .techs__wrapper {
    padding: 70px 0;
  }
  .tech__content {
    padding: 0 18px;
  }
  .techs__tittle {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 25px;
    margin-bottom: 60px;
  }
  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .techs__subtitle-text {
    font-size: 11px;
    line-height: 16px;
    padding: 0 10px;
    margin-bottom: 50px;
  }
  .techs__navbar-navbar-item {
    max-width: 84px;
    max-height: 90px;
  }
  .techs__button {
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width:350px) {
  .techs__navbar {
    max-width: 218px;
    margin: 0 auto;
  }
  .techs__navbar-navbar-item:last-child {
   margin-right: auto;
   margin-bottom: 0;
  }
}
