@import url(../utils/normalize.css);
@import url(../utils/fonts/fonts.css);
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.App {
  background-color: #202020;
}

.app__content {
  min-height: calc(100vh - 172px - 74px);
}

.app__content_withOutFooter {
  min-height: calc(100vh - 74px);
}

.app__content_withOutFooterAndHeader {
  min-height: calc(100vh);
}

@media screen and (max-width: 600px) {
  .app__content {
    min-height: calc(100vh - 270px - 74px);
  }
}
