.moviesCard__wrapper {
  width: 364px;
  height: 271px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moviesCard__header {
  width: 364px;
  height: 68px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.moviesCard__header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moviesCard__header-name {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 9px;
  text-overflow: ellipsis;
}

.moviesCard__header-duration {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
  margin-top: 0;
  margin-bottom: 0;
}

.moviesCard__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  border: none;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: scale 0.1s ease;
  overflow: hidden;
}

.moviesCard__button-cross {
  background-color: #313131;
  position: relative;
}


.moviesCard__button-cross-line:before, .moviesCard__button-cross-line:after {
  content: '';
  width: 8px;
  height: 2px;
  position: absolute;
  top: 13.5px;
  right: 10.5px;
  background-color: #fff;

}

.moviesCard__button-cross-line:before {
  transform: rotate(45deg);
}

.moviesCard__button-cross-line:after {
  transform: rotate(135deg);
}

.moviesCard__button:hover {
  transform: scale(1.05)
}

.moviesCard__button:focus {
  outline: none;
}

.moviesCard__button:active {
  transform: scale(1.16);
}

.moviesCard__button-image {
  object-fit: cover;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.moviesCard__img-wrapper {
  width: 364px;
  height: 209px;
  overflow: hidden;
}

.moviesCard__img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .moviesCard__wrapper {
    width: 339px;
    height: 258px;
  }
  .moviesCard__img-wrapper {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .moviesCard__wrapper {
    width: 300px;
    height: 236px;
  }
  .moviesCard__header {
    width: 300px;
    padding: 14px 0;
  }
  .moviesCard__header-name {
    width: 210px;
  }
  .moviesCard__img-wrapper {
    width: 300px;
    height: 168px;
  }
}
