.footer__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #202020;
  padding: 79px 70px 20px;
}

.footer__title {
  border-bottom: 1px solid #424242;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  color: #8B8B8B;
}

.footer__contaner {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #FFFFFF;
  margin: 0;
}

.footer__navbar-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  list-style-type: none;
}

.footer__navbar-link {
  margin-left: 20px;
}

.footer__navbar-link:hover {
  color: #aaaaaa;
}

.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: right;
  color: #FFFFFF;
  transition: color 0.2s linear;
  text-decoration: none;
}

.footer__link:hover {
  color: #aaaaaa;
}

.footer__navbar-link:last-child {
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .footer__wrapper {
    min-width: 320px;
    margin: 0 auto;
    background-color: #202020;
    padding: 79px 10px 10px;
  }
  .footer__title {
    border-bottom: 1px solid #424242;
    margin: 0 auto 30px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__contaner {
    display: flex;
    flex-direction: column;
  }
  .footer__navbar {
    order: -1;
    padding-bottom: 30px;
  }
  .footer__navbar-list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .footer__navbar-link {
    margin: 0 auto 12px;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__navbar-link:last-child {
    margin: 0 auto;
  }
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #8B8B8B;
    margin: 0 auto;
  }
}
